/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@fontsource/inter/300.css ***!
  \******************************************************************************************/
/* inter-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(0a639881a315fb42219c.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* inter-cyrillic-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(a56a3c562bb038d564d9.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* inter-greek-ext-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(29c2cdd24cb3189c87f9.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* inter-greek-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(88564212d2f720589a8b.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* inter-vietnamese-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(458d9adac2ed71ea3a8d.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* inter-latin-ext-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(9d00aad461d0a2a6a18a.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* inter-latin-300-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(1d901654d5968b3d2af1.woff2) format('woff2'), url(b330baea30b41ebd77b1.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@fontsource/inter/400.css ***!
  \******************************************************************************************/
/* inter-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(fcc125c4fef4b94c8b13.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* inter-cyrillic-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(8684fef6e6411779f0b0.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* inter-greek-ext-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(3f642a92b6e57b3a4b84.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* inter-greek-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(0278a49f9007106a0bf4.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* inter-vietnamese-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(789afb71d327988e2fc8.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* inter-latin-ext-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(3a7a76525d98d25962eb.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* inter-latin-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(be7cb18dc7caf47cf7e9.woff2) format('woff2'), url(8c804432e8c67741aac0.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@fontsource/inter/600.css ***!
  \******************************************************************************************/
/* inter-cyrillic-ext-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(c1791ace2adbca4163ca.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* inter-cyrillic-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(f17ec551fa8990736da1.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* inter-greek-ext-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(66b622a25da168cc60ec.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* inter-greek-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(c2ba769d6f2c3a8b76fc.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* inter-vietnamese-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(fe7c406ffbd129b7aa88.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* inter-latin-ext-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(3cd8400fefcd41fe460c.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* inter-latin-600-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(8f1e0300e8d26fa8919d.woff2) format('woff2'), url(d8872b2170f87e73c798.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/*!********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/style.scss ***!
  \********************************************************************************************************************************************************************************/
body {
  overscroll-behavior-y: none;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-image: url(511fc9e66ffe0dddd98b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #080E1E;
  margin: 0;
}

.content {
  background: linear-gradient(180deg, rgba(8, 14, 30, 0.6) 0%, rgb(8, 14, 30) 60%, rgb(8, 14, 30) 100%);
  width: 600px;
  margin: 50px auto 0;
  font-size: 17px;
}
@media only screen and (max-width: 700px) {
  .content {
    margin: 0;
    width: 100%;
  }
}
.content .container {
  padding: 30px 50px 50px;
  border-radius: 10px 10px 0 0;
}
@media only screen and (max-width: 700px) {
  .content .container {
    padding: 30px 20px 10px;
    border-radius: 0;
  }
}
.content .container > .title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.content .container > .subtitle {
  text-align: center;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}
.content .container > .story {
  margin-top: 20px;
  font-size: 17px;
}
.content .container > .story p {
  padding-top: 10px;
}
.content .container > .story .actions {
  text-align: center;
  margin-top: 40px;
}
.content .container > .story .button {
  margin-right: 10px;
}
.content .container > .grid {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
@media only screen and (max-width: 700px) {
  .content .container > .grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .content .container > .grid > .item {
    padding: 5px;
  }
}
.content .container > .grid > .item {
  background-color: rgb(0, 28, 57);
  border-radius: 10px;
  padding: 20px;
}
.content .container > .grid > .item .icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.content .container > .grid > .item .icon.nft-chain {
  background-image: url(57df6b6407fcf1bdc719.svg);
}
.content .container > .grid > .item .icon.nft-coin {
  background-image: url(14b4f8cf90a67441672f.svg);
}
.content .container > .grid > .item .icon.heart {
  background-image: url(d4ce434e15c034f8f153.svg);
}
.content .container > .grid > .item .icon.btc {
  background-image: url(c328224c6e8856d91b16.svg);
}
.content .container > .grid > .item > .title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.content .container > .grid > .item > .description {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.content .container .section {
  margin-top: 40px;
}
.content .container .section .title {
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
}
.content .container .section ol {
  padding-inline-start: 20px;
}
.content .container .section.cities .title {
  margin-bottom: 30px;
}
.content .container .section.cities .item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
}
.content .container .section.cities .item:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
.content .container .section.cities .item .image, .content .container .section.cities .item .info {
  grid-area: auto;
}
.content .container .section.cities .item .actions {
  grid-area: 2/1/3/3;
}
.content .container .section.cities .item .name, .content .container .section.cities .item .description, .content .container .section.cities .item .stats {
  margin-bottom: 20px;
}
.content .container .section.cities .item .image {
  width: 100px;
  height: 100px;
}
.content .container .section.cities .item .stats {
  margin-top: 5px;
}
.content .container .section.cities .item .stats > div {
  margin-bottom: 5px;
}
.content .container .section.cities .item .stats > div > span {
  font-weight: bold;
}
.content .container .section.cities .item .image.babylon > div {
  background-image: url(0dd05b56761b7afdf03c.jpeg);
}
.content .container .section.cities .item .image > div {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.content .container .section.cities .item .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.content .container .section.cities .item .description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.content .container .section.cities .item .link {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
  text-align: center;
  color: white;
}
.content .container .section.cities .item.coming-soon .actions, .content .container .section.cities .item.coming-soon .image {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #848484;
}
.content .container .section .list {
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .content .container .section .list {
    margin-top: 20px;
  }
}
.content .container .section .list > div {
  display: inline-block;
  position: relative;
}
.content .container .section .list > div .name {
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgb(9, 17, 40);
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  cursor: help;
}
@media only screen and (max-width: 700px) {
  .content .container .section .list > div .name {
    margin: 5px;
  }
}
.content .container .section .list > div .name:hover + .description {
  z-index: 1;
  opacity: 1;
  display: block;
}
.content .container .section .list > div .description {
  font-size: 14px;
  transition: opacity 0.5s;
  width: 200px;
  opacity: 0;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  transform: translateY(-90%) translateX(50%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  background-color: rgb(8, 14, 30);
  z-index: -1;
  text-align: left;
}
.content .container .button {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 10px;
}
.content .container .button:hover {
  border-color: red;
}
.content .container .button > .icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 3px;
}
.content .container .button.telegram > .icon {
  background-image: url(a0e07fb25bb814c35aee.svg);
}
.content .container .button.babylon > .icon {
  background-image: url(0dd05b56761b7afdf03c.jpeg);
}

.green {
  color: #00a400;
}
